/* 英文字体 */
@font-face {
    font-family: 'DIN Medium';
    src: url('https://cdn.fixeam.com/font/DIN.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    src: url('https://cdn.fixeam.com/font/Quicksand/Quicksand-Regular.eot');
    src: url('https://cdn.fixeam.com/font/Quicksand/Quicksand-Regular.eot?#iefix') format('embedded-opentype'), url('https://cdn.fixeam.com/font/Quicksand/Quicksand-Regular.woff2') format('woff2'), url('https://cdn.fixeam.com/font/Quicksand/Quicksand-Regular.woff') format('woff'), url('https://cdn.fixeam.com/font/Quicksand/Quicksand-Regular.ttf') format('truetype'), url('https://cdn.fixeam.com/font/Quicksand/Quicksand-Regular.svg') format('svg');
}
@font-face {
    font-family: 'Josefin sans';
    src: url('https://cdn.fixeam.com/font/Josefin sans/JosefinSans-Regular-7.eot');
    src: url('https://cdn.fixeam.com/font/Josefin sans/JosefinSans-Regular-7.eot?#iefix') format('embedded-opentype'), url('https://cdn.fixeam.com/font/Josefin sans/JosefinSans-Regular-7.woff2') format('woff2'), url('https://cdn.fixeam.com/font/Josefin sans/JosefinSans-Regular-7.woff') format('woff'), url('https://cdn.fixeam.com/font/Josefin sans/JosefinSans-Regular-7.ttf') format('truetype'), url('https://cdn.fixeam.com/font/Josefin sans/JosefinSans-Regular-7.svg') format('svg');
}
@font-face {
    font-family: 'Noto sans';
    src: url('https://cdn.fixeam.com/font/Noto sans/NotoSans-Regular-2.eot');
    src: url('https://cdn.fixeam.com/font/Noto sans/NotoSans-Regular-2.eot?#iefix') format('embedded-opentype'), url('https://cdn.fixeam.com/font/Noto sans/NotoSans-Regular-2.woff') format('woff'), url('https://cdn.fixeam.com/font/Noto sans/NotoSans-Regular-2.ttf') format('truetype'), url('https://cdn.fixeam.com/font/Noto sans/NotoSans-Regular-2.svg') format('svg');
}

@font-face {
    font-family: 'Raleway';
    src: url('https://cdn.fixeam.com/font/Raleway/Raleway-Regular-2.eot');
    src: url('https://cdn.fixeam.com/font/Raleway/Raleway-Regular-2.eot?#iefix') format('embedded-opentype'), url('https://cdn.fixeam.com/font/Raleway/Raleway-Regular-2.woff') format('woff'), url('https://cdn.fixeam.com/font/Raleway/Raleway-Regular-2.ttf') format('truetype'), url('https://cdn.fixeam.com/font/Raleway/Raleway-Regular-2.svg') format('svg');
}
@font-face {
    font-family: 'Rubik';
    src: url('https://cdn.fixeam.com/font/Rubik/Rubik-Regular.eot');
    src: url('https://cdn.fixeam.com/font/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'), url('https://cdn.fixeam.com/font/Rubik/Rubik-Regular.woff') format('woff'), url('https://cdn.fixeam.com/font/Rubik/Rubik-Regular.ttf') format('truetype'), url('https://cdn.fixeam.com/font/Rubik/Rubik-Regular.svg') format('svg');
}
/* 中文字体 */
@font-face {
    font-family: 'Pingfang SC Medium';
    src: url('https://cdn.fixeam.com/font/Pingfang%20SC%20Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Pingfang SC Regular';
    src: url('https://cdn.fixeam.com/font/Pingfang SC Regular/PingFang Regular.eot');
    src: url('https://cdn.fixeam.com/font/Pingfang SC Regular/PingFang Regular.eot?#iefix') format('embedded-opentype'), url('https://cdn.fixeam.com/font/Pingfang SC Regular/PingFang Regular.woff') format('woff'), url('https://cdn.fixeam.com/font/Pingfang SC Regular/PingFang Regular.ttf') format('truetype'), url('https://cdn.fixeam.com/font/Pingfang SC Regular/PingFang Regular.svg') format('svg');
}
@font-face {
    font-family: 'HYWenHei-45W';
    src: url('https://cdn.fixeam.com/font/hanyiwenhei/HYWenHei-45W-5.ttf') format('truetype');
}
@font-face {
    font-family: 'HYWenHei-55W';
    src: url('https://cdn.fixeam.com/font/hanyiwenhei/HYWenHei-55W-4.ttf') format('truetype');
}
* {
    box-sizing: border-box;
}
header {
    display: block;
}
:root {
    --td-font-family: 'Noto sans', 'HYWenHei-45W', 'Pingfang SC Medium', Microsoft YaHei, Arial Regular;
    --td-font-size-body-medium: 13px;
}
body {
    color: var(--td-text-color-secondary);
    font: var(--td-font-body-medium);
    font-family: -apple-system, BlinkMacSystemFont, var(--td-font-family);
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    background: transparent url('./assets/img1.wallspic.com-jian_yue-shou_shi-qi_ti-yuan_quan-dian_lan_se_de-7680x4320.jpg') no-repeat fixed center;
    background-size: cover;
    overflow-x: hidden;
}
img, div, span{
    vertical-align: middle;
}
[class^='clamp']{
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
}
.clamp-1{
    -webkit-line-clamp:1;
}
.clamp-2{
    -webkit-line-clamp:2;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(144,147,153,.5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144,147,153,.3);
}
.description-title{
    color: #666;
    font-size: 12px;
    margin-top: 12px;
}
/* header */
.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    padding: 0 var(--td-comp-paddingLR-xl);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--td-text-color-primary);
    height: var(--td-comp-size-xxxl);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--td-border-level-2-color);
    box-sizing: border-box;
}
.logo{
    margin: 0 10px;
    height: 100%;
    line-height: 56px;
    min-width: 230px;
    flex-shrink: 0;
}
.logo-image{
    margin: 4px;
    height: 40px;
}
.logo-text{
    font-size: 16px;
}
.operations-container{
    padding: 0 var(--td-comp-paddingLR-xl);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--td-text-color-primary);
    height: var(--td-comp-size-xxxl);
}
.t-autocomplete-option-list .t-select-option {
    height: 50px;
}
.t-autocomplete-option-list .custom-option {
    display: flex;
    align-items: center;
}
.t-autocomplete-option-list .custom-option > img {
    max-height: 36px;
    border-radius: 5px;
}
.t-autocomplete-option-list .custom-option__main {
    margin-left: 8px;
}
.t-autocomplete-option-list .custom-option .description {
    color: var(--td-gray-color-9);
}
.search-box .t-input{
    background-color: transparent;
}
.cl-button{
    position: relative;
    top: -1px;
}
/* table */
.t-table,
.t-table .t-table__header tr,
.t-table .t-table__footer tr
{
    border-radius: 5px;
}
.t-table th:first-child,
.t-table__footer td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.t-table th:last-child,
.t-table__footer td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.t-table__body tr:last-child td,
.t-table .t-table__header th,
.t-table .t-table__footer td {
    border-bottom-width: 0;
}
.t-table .t-table__header th{
    color: #333;
}
#app .t-layout, #app .t-layout__header, #app .t-layout__sider{
    background-color: transparent;
}
#app .t-layout__header{
    height: 0;
}
#app .t-layout__content{
    padding: 0 12px;
}